* {
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
		}
	/*not currently in use
	#simple {
		  max-width: 500px;
		  margin: 20px auto;
		  border: solid #1AAB8A 1px;
		  float: left;
	}*/

	#menu {
		  max-width: 500px;
		  margin: 25pt auto;
		  padding: 15px;
		  border: solid #1AAB8A 10px;
		  float: center;

	}
	#restart{
	
		float: center;
		margin: 20px;
	}
	#quit {
		float: center;
		margin:20px;


	}
		html,body{
	  height:100%;
	}
	body{
	  text-align:center;
	}
	/*
	body:before{
	  content:'';
	  height:100%;
	  display:inline-block;
	  vertical-align:middle;
	}*/
	button{
	  background:#1AAB8A;
	  color:#fff;
	  border:none;
	  position:relative;
	  height:60px;
	  font-size:1.6em;
	  padding:0 2em;
	  cursor:pointer;
	  transition:800ms ease all;
	  outline:none;
	}
	button:hover{
	  background:#fff;
	  color:#1AAB8A;
	}
	button:before,button:after{
	  content:'';
	  position:absolute;
	  top:0;
	  right:0;
	  height:2px;
	  width:0;
	  background: #1AAB8A;
	  transition:400ms ease all;
	}

	button:after{
	  right:inherit;
	  top:inherit;
	  left:0;
	  bottom:0;
	}
	button:hover:before,button:hover:after{
	  width:100%;
	  transition:800ms ease all;
	}